<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout(menu='index.html')}">
<th:block layout:fragment="script">
    <script>
        console.log("log");
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        .myContent{
            background-color: lightskyblue;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <hr>
    <div class="myContent">
    content
    </div>
    <hr>
</div>


</html>